# Django related
src/portfolio/settings/local.py
src/static_in_env/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Environments
env_portfolio/

# Other staff:
.idea/
*db.sqlite3
